.card
  .card-header
    List of appoinments
  .card-body
    %table.table.table-small
      %thead
        %tr
          %th #
          %th Date
          %th
      %tbody
        = render @appointments