.card
  .card-header
    List of appoinments
  .card-body
    %table.table.table-small
      %thead
        %tr
          %th #
          %th Date
          %th
      %tbody
        = render @appointments

    = link_to "Nuevo Turno", new_doctors_appointment_path, class: 'btn btn-primary'