.row.mb-4
  .col-md-12
    .card
      .card-header
        Listado de Turnos
      .card-body
        - if @appointments.any?
          %table.table.table-small
            %thead
              %tr
                %th= Appointment.human_attribute_name :date
                %th= Appointment.human_attribute_name :doctor
                %th 
            %tbody
              = render @appointments
        - else
          .alert.alert-success
            no tienes turnos